%h2
  Email
= form_for @user, url: {controller: 'registrations', action: 'update_info'}, method: :put  do |f|
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-success btn-block'