.author {
  color: #fff;
}

.author:hover {
  color: #fff;
}

.author:visited {
  color: #ddd;
}

.short {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-control.left.no-shadow  {
  background-image: none;
  background-repeat: repeat-x;
}

.carousel-control.right.no-shadow  {
  background-image: none;
  background-repeat: repeat-x;
}

.short {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.form-inline .form-control.one-line {
  width: 55px;
  display: inline;
}

.table > tbody > tr.line > td {
  border-top: 3px solid #ccc; /* Линия сверху текста */
  border-bottom: 3px solid #ccc; /* Линия снизу текста */
}

.thumbnail img.home {
  width: auto;
  height: 200px;
}

.bestsellers img {
  width: auto;
  height: 400px;
}

.glyphicon-chevron-left:before {
  color: #000;
}

.glyphicon-chevron-right:before {
  color: #000;
}
