<div class="col-md-3">
    <p class="lead">Shop Name </p>
    <div class="list-group">
    <% @categories.each do |category| %>
      <a href="#" class="list-group-item"><%= category.title %></a>
    <% end %>
    </div>
</div>