.container
  = render 'carousel'
  .col-md-3
    = render 'categories/category'
  .col-md-9
    .row
      = render partial: "books/book", collection: @books
    .row
      .text-center
        = paginate @books