%p
  Item Total:
  %strong
    = number_to_currency(Order.find(params[:order_id]).order_items.sum(:price))

- unless Order.find(params[:order_id]).shipping.nil?
  %p
    Shipping:
    %strong
      = number_to_currency(Order.find(params[:order_id]).shipping.costs)
%p
  Order Total:
  %strong
    = number_to_currency(Order.find(params[:order_id]).total_price)