= form_for @book, :url => book_cart_add_path(@book), :html => {:class => 'form-inline one-line text-center'}, method: :post do |f|
  %h2
    = number_to_currency(@book.price)
  .form-group.integer.required.one-line
    = number_field_tag :qty, '1', class: 'form-control one-line', value: '1', min: '1', max: '99'
    = f.submit 'Add to cart', class: 'btn btn-default btn btn-primary'
