<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <% @books.each do |book| %>
                <tr>
                  <td>
                    <h4><%= link_to book.title, book %></h4>
                  </td>
                  <td>
                    <h4>$<%= book.price %></h4>
                  </td>
                </tr>
              <% end %>
            </tbody>

          </table>
          
            <p class="text-center">
              <%= paginate @books %>
            </p>
        </div>

    </div>

</div>
<!-- /.container -->

